---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}


<h2 style="text-align:center;"><strong>Regional Conferences</strong></h2>
<ul>
 	<li><strong>2021</strong> World Logic Day in Alberta: Calgary, Alberta, Canada*
<ul>
 	<li>"A theorem of infinity for <em>Prin<span class="texhtml">ℤ</span>ipia Mathematica</em>"</li>
</ul>
</li>
 	<li><strong>2019 </strong>APA Central Division, February 20-23: Denver, Colorado
<ul>
 	<li>"Russell's Problem of General Molecular Facts"</li>
</ul>
</li>
 	<li><strong>2018 </strong>Illinois Philosophical Association, November 2-3, 2018: Charleston, Illinois
<ul>
 	<li>"A Case Study in Formalizing Contingent <em>A Priori</em> Claims"</li>
</ul>
</li>
 	<li><strong>2018 </strong>Minnesota Philosophical Society, October 13: Rochester, Minnesota
<ul>
 	<li>"A Case Study in Formalizing Contingent <em>A Priori</em> Claims"</li>
</ul>
</li>
 	<li><strong>2018 </strong>APA Central Division, February 23: Chicago, Illinois
<ul>
 	<li>"Logic, though not our master, will yet be taken as our guide: Logic and Metaphysics"</li>
 	<li>"Was Wittgenstein a Russellian Logical Atomist in 1913-1916?"</li>
</ul>
</li>
 	<li><strong>2017 </strong>Midsouth Philosophy Conference, March 31-April 1: Memphis, Tennessee
<ul>
 	<li>"For Inclusive Logic"</li>
</ul>
</li>
 	<li><strong>2017 </strong>New Mexico-Texas Philosophical Society, March 24-26: Albuquerque, New Mexico
<ul>
 	<li>"Against Sense-Data as Structured Universals"</li>
</ul>
</li>
 	<li><strong>2017 </strong>APA Central Division, March 2: Kansas City, Missouri
<ul>
 	<li>"The Logical Atomism of Bertrand Russell"</li>
</ul>
</li>
 	<li><strong>2016 </strong>Illinois Philosophical Association, November 5-6: East Peoria, Illinois
<ul>
 	<li>"For Inclusive Logic"</li>
</ul>
</li>
 	<li><strong>2016 </strong>Central States Philosophical Association, October 28-29: Lincoln, Nebraska
<ul>
 	<li>"For Inclusive Logic"</li>
</ul>
</li>
 	<li><strong>2016 </strong>Philosopher's Cocoon Philosophy Conference, October 8-9: Tampa, Florida
<ul>
 	<li>"For Inclusive Logic"</li>
</ul>
</li>
 	<li><strong>2016 </strong>APA Central Division, March 3: Chicago, Illinois
<ul>
 	<li>"A Theorem of Infinity for <i>Principia Mathematica</i>"</li>
 	<li>"On Newman's Twin Objections to Russell's Structural Realism"</li>
</ul>
</li>
 	<li><strong>2016 </strong>Kansas Philosophical Society, February 13: Pittsburg, Kansas
<ul>
 	<li>"Against Sense Data as Structured Universals"</li>
</ul>
</li>
 	<li><strong>2015 </strong>Indiana Philosophical Association, November 6-7: Richmond, Indiana
<ul>
 	<li>"On the Analysis of Soritical Predicates"</li>
</ul>
</li>
 	<li><strong>2015 </strong>Central States Philosophical Association, November 6-7: Lexington, Kentucky
<ul>
 	<li>"On the Analysis of Soritical Predicates"</li>
</ul>
</li>
 	<li><strong>2015 </strong>University of Nevada-Reno Graduate Philosophy Conference, October 10-11: Reno, Nevada
<ul>
 	<li>"On Theodorus"</li>
</ul>
</li>
 	<li><strong>2015 </strong>Northern New England Philosophical Association, September 25-26: Lewiston, Maine
<ul>
 	<li>"Concerning <i>On Dreams</i> 459b24-460a26"</li>
</ul>
</li>
 	<li><strong>2015 </strong>Kentucky Philosophical Association Summer Workshop, July 23-24: Danville, Kentucky
<ul>
 	<li>"Concerning <i>On Dreams</i> 459b24-460a26"</li>
</ul>
</li>
 	<li><strong>2015 </strong>Kent State Philosophy Graduate Student Conference, March 14: Kent, Ohio
<ul>
 	<li>"On the Analysis of Soritical Predicates"</li>
</ul>
</li>
 	<li><strong>2015 </strong>Georgia Philosophical Society, January 31, 2015: Atlanta, Georgia
<ul>
 	<li>"On Theodorus"</li>
</ul>
</li>
 	<li><strong>2014</strong> Midsouth Philosophy Conference, February 21-22: Memphis, Tennessee
<ul>
 	<li>"An Emotivist Natural Law Jurisprudence"</li>
</ul>
 </li>
 </ul>

